In [84]:
import numpy as np
import pandas as pd
data=pd.read_csv('Superstore_Canada (1).csv')

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                8399 non-null   int64
 1   Order ID              8399 non-null   int64
 2   Order Date            8399 non-null   object
 3   Order Priority        8399 non-null   object
 4   Order Quantity        8399 non-null   int64
 5   Sales                 8399 non-null   float64
 6   Discount              8399 non-null   float64
 7   Ship Mode             8399 non-null   object
 8   Profit                8399 non-null   float64
 9   Unit Price            8399 non-null   float64
 10  Shipping Cost         8399 non-null   float64
 11  Customer Name         8399 non-null   object
 12  Province              8399 non-null   object
 13  Region                8399 non-null   object
 14  Customer Segment      8399 non-null   object
 15  Product Category      8399 non-null   object
 16  Product Sub-Category  8399 non-null   object
 17  Product Name          8399 non-null   object
 18  Product Container     8399 non-null   object
 19  Product Base Margin   8336 non-null   float64
 20  Ship Date             8399 non-null   object
dtypes: float64(6), int64(3), object(12)
memory usage: 1.3+ MB

In [86]:
data.describe()

,Row ID,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Product Base Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,4200.002977,29965.254792,25.571735,1775.881870,0.049671,181.185139,89.346259,12.838557,0.512513
std,2424.724106,17260.840806,14.481071,3585.050771,0.031823,1196.654466,290.354383,17.264052,0.135589
min,1.000000,3.000000,1.000000,2.240000,0.000000,-14140.700000,0.990000,0.490000,0.350000
25%,2100.500000,15011.500000,13.000000,143.195000,0.020000,-83.315000,6.480000,3.300000,0.380000
50%,4200.000000,29857.000000,26.000000,449.420000,0.050000,-1.500000,20.990000,6.070000,0.520000
75%,6299.500000,44596.000000,38.000000,1709.320000,0.080000,162.750000,85.990000,13.990000,0.590000
max,8399.000000,59973.000000,50.000000,89061.050000,0.250000,27220.690000,6783.020000,164.730000,0.850000

In [87]:
data.isnull().sum()

Row ID                   0
Order ID                 0
Order Date               0
Order Priority           0
Order Quantity           0
Sales                    0
Discount                 0
Ship Mode                0
Profit                   0
Unit Price               0
Shipping Cost            0
Customer Name            0
Province                 0
Region                   0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Name             0
Product Container        0
Product Base Margin     63
Ship Date                0
dtype: int64

In [88]:
data.columns=(
    data.columns
    .str.lower()
    .str.replace(' ','_')
)

In [89]:
data.head(3)

,row_id,order_id,order_date,order_priority,order_quantity,sales,discount,ship_mode,profit,unit_price,...,customer_name,province,region,customer_segment,product_category,product_sub-category,product_name,product_container,product_base_margin,ship_date
0,1,3,10/12/2016,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,10/19/2016
1,49,293,10/1/2018,High,49,10123.02,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,10/2/2018
2,50,293,10/1/2018,High,27,244.57,0.01,Regular Air,46.71,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,10/3/2018

In [90]:
pm=data[['product_base_margin','product_name']]
pm

      product_base_margin                                       product_name
0                    0.80   Eldon Base for stackable storage shelf, platinum
1                    0.58  1.7 Cubic Foot Compact "Cube" Office Refrigera...
2                    0.39   Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl
3                    0.58                                               R380
4                    0.50                           Holmes HEPA Air Purifier
...                   ...                                                ...
8394                 0.65                        Bush Mission Pointe Library
8395                 0.38  Recycled Interoffice Envelopes with Re-Use-A-S...
8396                 0.41                          Executive Impressions 14"
8397                 0.56                                    Talkabout T8367
8398                 0.65  Tenex 46" x 60" Computer Anti-Static Chairmat,...

[8399 rows x 2 columns]

In [91]:
pm.isnull()

      product_base_margin  product_name
0                   False         False
1                   False         False
2                   False         False
3                   False         False
4                   False         False
...                   ...           ...
8394                False         False
8395                False         False
8396                False         False
8397                False         False
8398                False         False

[8399 rows x 2 columns]

In [92]:
pm[pm['product_base_margin'].isnull()]

      product_base_margin                                       product_name
7                     NaN            SAFCO Mobile Desk Side File, Wire Frame
8                     NaN              SAFCO Commercial Wire Shelving, Black
71                    NaN                           SAFCO Arco Folding Chair
213                   NaN  SAFCO PlanMaster Heigh-Adjustable Drafting Tab...
274                   NaN              SAFCO Commercial Wire Shelving, Black
...                   ...                                                ...
7489                  NaN  SAFCO PlanMaster Heigh-Adjustable Drafting Tab...
7508                  NaN                           SAFCO Arco Folding Chair
7833                  NaN                           SAFCO Arco Folding Chair
8160                  NaN  SAFCO PlanMaster Heigh-Adjustable Drafting Tab...
8351                  NaN                    Safco Contoured Stacking Chairs

[63 rows x 2 columns]

In [93]:
data.drop('product_base_margin' ,axis=1, inplace=True)

In [94]:
data.shape

(8399, 20)

In [95]:
data.isnull().sum()

row_id                  0
order_id                0
order_date              0
order_priority          0
order_quantity          0
sales                   0
discount                0
ship_mode               0
profit                  0
unit_price              0
shipping_cost           0
customer_name           0
province                0
region                  0
customer_segment        0
product_category        0
product_sub-category    0
product_name            0
product_container       0
ship_date               0
dtype: int64

In [96]:
data.dtypes

row_id                    int64
order_id                  int64
order_date               object
order_priority           object
order_quantity            int64
sales                   float64
discount                float64
ship_mode                object
profit                  float64
unit_price              float64
shipping_cost           float64
customer_name            object
province                 object
region                   object
customer_segment         object
product_category         object
product_sub-category     object
product_name             object
product_container        object
ship_date                object
dtype: object

In [97]:
data['order_date']=pd.to_datetime(data['order_date'],format='%m/%d/%Y')
data['ship_date']=pd.to_datetime(data['ship_date'],format='%m/%d/%Y')

In [98]:
data.dtypes

row_id                           int64
order_id                         int64
order_date              datetime64[ns]
order_priority                  object
order_quantity                   int64
sales                          float64
discount                       float64
ship_mode                       object
profit                         float64
unit_price                     float64
shipping_cost                  float64
customer_name                   object
province                        object
region                          object
customer_segment                object
product_category                object
product_sub-category            object
product_name                    object
product_container               object
ship_date               datetime64[ns]
dtype: object

In [99]:
data['year']=data['order_date'].dt.year
data['year']

0       2016
1       2018
2       2018
3       2017
4       2016
        ...
8394    2016
8395    2016
8396    2017
8397    2017
8398    2015
Name: year, Length: 8399, dtype: int32

#### Total revenue

In [100]:
total_revenue=data['sales'].sum()

In [101]:
total_revenue

np.float64(14915631.824000001)

In [102]:
data.to_csv('retail_sales_data.csv',index=False)

### Total Profit

In [103]:
total_profit=data['profit'].sum()

In [104]:
total_profit

np.float64(1521773.98)

### Profit Margin%

In [105]:
profit_margin=total_profit/total_revenue*100
profit_margin

np.float64(10.20254453821654)

### Average Delivery Day

In [106]:
delivery_day= (data['ship_date']-data['order_date']).dt.days
average_delivery_day= delivery_day.mean()
average_delivery_day

np.float64(1.9158233122990833)

### Total order

In [107]:
total_order=data['order_id'].unique()

In [108]:
total_order

array([    3,   293,   483, ..., 54279, 55558, 56581], shape=(5494,))

### Total quantity

In [109]:
total_quantity=data['order_quantity'].sum()
total_quantity

np.int64(214777)

### revenue by category

In [110]:
revenue_by_category=data.groupby('product_category')['sales'].sum()

In [111]:
revenue_by_category

product_category
Furniture          5178602.542
Office Supplies    3752769.100
Technology         5984260.182
Name: sales, dtype: float64

In [112]:
profit_by_category_year=data.groupby(['year' , 'product_category'])['profit'].sum()
profit_by_category_year

year  product_category
2015  Furniture            61804.53
      Office Supplies     178088.98
      Technology          194645.22
2016  Furniture             9407.83
      Office Supplies     117249.93
      Technology          237376.69
2017  Furniture            51681.97
      Office Supplies      85898.26
      Technology          244013.53
2018  Furniture            -5455.30
      Office Supplies     136784.26
      Technology          210278.08
Name: profit, dtype: float64

### Top 10 product

In [113]:
top_10_products = (
    data.groupby('product_name')['sales']
      .sum()
      .sort_values(ascending=False)
      .head(10)
)
top_10_products

product_name
Global Troy™ Executive Leather Low-Back Tilter                   275941.520
Polycom ViewStation™ ISDN Videoconferencing Unit                 255303.970
Canon PC940 Copier                                               210910.680
Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish    206494.130
Hewlett Packard LaserJet 3310 Copier                             194880.350
Bretford CR8500 Series Meeting Room Furniture                    147412.212
Sharp AL-1530CS Digital Copier                                   130046.810
Hewlett-Packard cp1700 [D, PS] Series Color Inkjet Printers      128100.430
GBC DocuBind 200 Manual Binding Machine                          120342.740
Canon imageCLASS 2200 Advanced Copier                            114173.410
Name: sales, dtype: float64

### ship mode %

In [114]:
ship_mode_distribution =data.groupby('ship_mode')['order_id'].nunique()

In [115]:
ship_mode_distribution

ship_mode
Delivery Truck    1081
Express Air        931
Regular Air       4540
Name: order_id, dtype: int64

In [116]:
ship_mode_percent = (ship_mode_distribution / ship_mode_distribution.sum()) * 100
ship_mode_percent

ship_mode
Delivery Truck    16.498779
Express Air       14.209402
Regular Air       69.291819
Name: order_id, dtype: float64

In [118]:
data.to_csv('Retail_sales_Analysis.csv',index=False)